.sidenav-cont {
    display: flex;
    flex-direction: column;
    width: 230px;
    background-color: #09c;
    padding: 10px;
}

.tabs-cont {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.side-nav-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.side-nav-tabs-elems {
    text-decoration: none;
    color: white;
    align-items: center;
    width: 95%;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.side-nav-hr {
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}