/* @font-face {
  font-family: FocoRegular;
  src: url(./assets/FocoRegular.ttf);
} */

* {
  font-family: Open Sans, Arial;
  box-sizing: border-box;
  margin: 0px;
}

.display-flex-row-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}